In [10]:
import pandas as pd
import numpy as np
df = pd.read_csv("hipflat_rent.csv")
print (df)

                condo    district room_area  rental_rate
0      Tubtim Mansion  Chom Thong       170      50000.0
1      Tubtim Mansion  Chom Thong       250      58000.0
2      Tubtim Mansion  Chom Thong       170      50000.0
3      Tubtim Mansion  Chom Thong       250      58000.0
4      Tubtim Mansion  Chom Thong       175      45000.0
...               ...         ...       ...          ...
27623      Esta Bliss    Min Buri     22.99       8000.0
27624      Esta Bliss    Min Buri        36      12000.0
27625      Esta Bliss    Min Buri        46      15000.0
27626      Esta Bliss    Min Buri        23       7500.0
27627      Esta Bliss    Min Buri        23       7000.0

[27628 rows x 4 columns]

In [11]:
df.describe()

        rental_rate
count  2.762800e+04
mean   4.021549e+04
std    1.786662e+05
min    1.000000e+01
25%    1.300000e+04
50%    2.500000e+04
75%    5.000000e+04
max    1.939000e+07

In [12]:
df['room_area'] = pd.to_numeric(df['room_area'], errors = 'coerce')
df['rental_rate'] = pd.to_numeric(df['rental_rate'])
df

                condo    district  room_area  rental_rate
0      Tubtim Mansion  Chom Thong     170.00      50000.0
1      Tubtim Mansion  Chom Thong     250.00      58000.0
2      Tubtim Mansion  Chom Thong     170.00      50000.0
3      Tubtim Mansion  Chom Thong     250.00      58000.0
4      Tubtim Mansion  Chom Thong     175.00      45000.0
...               ...         ...        ...          ...
27623      Esta Bliss    Min Buri      22.99       8000.0
27624      Esta Bliss    Min Buri      36.00      12000.0
27625      Esta Bliss    Min Buri      46.00      15000.0
27626      Esta Bliss    Min Buri      23.00       7500.0
27627      Esta Bliss    Min Buri      23.00       7000.0

[27628 rows x 4 columns]

In [13]:
df['rental_rate'][df['district']=='Min Buri'].sum()

497599.0

In [14]:
table = pd.pivot_table(df, index = 'district',values=['rental_rate','room_area'], aggfunc={'room_area':np.mean,'rental_rate':np.mean})
table = table.round(decimals=2)
table.head()

                 rental_rate  room_area
district
Bang Kapi           12346.24      38.74
Bang Khae            9287.41      31.16
Bang Khen            9374.02      31.06
Bang Kho Laem       37900.31      80.59
Bang Khun Thian      7297.22      27.44

### Return the district with maximum rental rate per square meter

In [15]:
table['rate_per_sqm'] = table['rental_rate']/table['room_area']

In [16]:
table.head()

                 rental_rate  room_area  rate_per_sqm
district
Bang Kapi           12346.24      38.74    318.694889
Bang Khae            9287.41      31.16    298.055520
Bang Khen            9374.02      31.06    301.803606
Bang Kho Laem       37900.31      80.59    470.285519
Bang Khun Thian      7297.22      27.44    265.933673

In [17]:
max_rate = table.idxmax()
max_rate

rental_rate     Pathum Wan
room_area         Watthana
rate_per_sqm    Pathum Wan
dtype: object

In [19]:
table.sort_values('rate_per_sqm', ascending=False)

                      rental_rate  room_area  rate_per_sqm
district
Pathum Wan               85747.62     120.72    710.301690
Bueng Kum                17910.72      30.21    592.873883
Phaya Thai               32549.95      55.68    584.589619
Bang Rak                 42408.04      81.60    519.706373
Chatuchak                20524.94      40.15    511.206476
Ratchathewi              27022.00      52.87    511.102705
Khlong San               41049.33      86.84    472.700714
Phra Khanong             20657.40      43.82    471.414879
Bang Kho Laem            37900.31      80.59    470.285519
Phra Nakhon              41625.00      89.00    467.696629
Watthana                 61205.13     134.09    456.448132
Sathon                   56917.08     124.84    455.920218
Pom Prap Sattru Phai     13000.00      30.00    433.333333
Huai Khwang              20264.74      48.75    415.686974
Khlong Toei              52129.74     133.53    390.397214
Din Daeng                16311.67      42.88    380.402752
Yan Nawa                 32002.70      85.90    372.557625
Bang Sue                 13627.43      36.99    368.408489
Thon Buri                14516.09      40.14    361.636522
Lat Phrao                12889.38      36.51    353.036976
Min Buri                 10587.21      30.93    342.295829
Bang Na                  13656.09      41.85    326.310394
Rat Burana               12645.84      39.14    323.092489
Sai Mai                   9728.54      30.16    322.564324
Bangkok Noi              11333.31      35.24    321.603575
Bang Kapi                12346.24      38.74    318.694889
Samphanthawong           24600.00      77.44    317.665289
Phasi Charoen            12165.09      38.55    315.566537
Suan Luang               12783.20      40.96    312.089844
Chom Thong               15506.10      50.35    307.966236
Bang Khen                 9374.02      31.06    301.803606
Bang Khae                 9287.41      31.16    298.055520
Lat Krabang               8274.29      28.04    295.088802
Khan Na Yao              11236.40      38.71    290.271248
Bang Phlat               13556.73      46.77    289.859525
Bangkok Yai              10589.94      37.14    285.135703
Wang Thonglang           12490.16      44.87    278.363272
Taling Chan              12660.00      45.81    276.358874
Prawet                   10463.78      38.38    272.636269
Bang Khun Thian           7297.22      27.44    265.933673
Lak Si                   11674.88      45.11    258.809133
Don Mueang                7939.18      32.19    246.634980
Saphan Sung               9518.96      54.30    175.303131
Thung Khru                4970.00      31.00    160.322581
Nong Khaem                2875.00      32.30     89.009288
Khlong Sam Wa             2300.00      27.50     83.636364